@use '../../style/_variables' as var
    
.pet-finder

    &__navigation
        display: flex
        justify-content: space-between
        position: fixed
        bottom: 0
        padding: 2rem
        width: 100%
        background-color: var.$primary-bg-color
        border-top-left-radius: 25px
        border-top-right-radius: 25px

    &__navigation-icon
        height: 40px
        width: 40px
        color: #BDBDBD
        padding: .5rem
        border-radius: 25px
        box-shadow: 10px 8px 29px -3px rgba(79,79,79,0.7)